
svg {
    margin: 0;
    overflow: hidden;
    background-color: #fff;
}

.sphere {
    fill: rgba(70, 123, 170, 0.78);
}

.country {
    /* fill: #fff; */
    stroke: black;
    stroke-width: 0.075px;
}

.country:hover {
    /* fill: red; */
    stroke: #ffff;
    stroke-width: 2px;
}

.zoom-controls {
    cursor: pointer;
    pointer-events: all;
}

rect {
    font-size: 22px;
    border: solid black 1px;
    fill: grey;
}

svg .zoom-controls {
    fill: white;
}