* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title-container {
    border: green 1px solid;
    height: 200px;
    background: url("./src/assets/imsages/crude-oil.jpg") no-repeat center center fixed;
    background-size: cover;
    font-size: 35px;
    color: #fff;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}

svg {
    margin: 0;
    overflow: hidden;
    background-color: #fff;
}


.sphere {
    /* fill: url(mygrad); */
    fill: #2d4680;
    /* fill: url(#sphere-gradient); */
    /* fill: rgba(70, 123, 170, 0.78); */
    /* fill: linear-gradient(270deg, #246655, #1f74d7); */
}

.country {
    /* fill: #fff; */
    stroke: black;
    stroke-width: 0.075px;
}

.country:hover {
    /* fill: red; */
    stroke: #ffff;
    stroke-width: .5px;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 80px;
    height: 15px;
    padding: 2.5px;
    font-size: 8.5px;
    background: floralwhite;
    border: 0px;
    pointer-events: none;
    border-radius: 4px;
}

#map {
    margin: 0 auto;
    border: rebeccapurple 1px solid;
    display: flex;
    justify-content: center;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

#selectDropdown {
    height: 32px;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.row {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.row:before,
.row:after {
    content:"";
    display:table;
}
.row:after {
    clear:both;
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.span-2-of-2 {
	width: 100%;
}

.span-1-of-2 {
	width: 49.2%;
}
